.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(223, 216, 216);
}

.left-section {

  display: flex;
  align-items: center;

}

.hamburger-icon {
  margin-left: 19px;
  margin-right: 22px;
  height: 25px;
}

.youtube-logo {
  width: 92px;


}


.middle-section {
  flex: 1;
  display: flex;
  align-items: center;
  max-width: 550px;
  margin-left: 70px;
  margin-right: 35px;
}

.search-bar {
  width: 0;
  flex: 1;
  height: 37px;
  border-width: 1px;
  border-radius: 2px;
  border-color: rgb(196, 194, 194);
  outline: none;
  font-family: roboto, arial;
  padding-left: 10px;
  font-size: 17px;
  border-style: solid;
  box-shadow: inset 0px 1px 10px rgba(0, 0, 0, 0.10);
}

.search-bar::placeholder {
  font-family: roboto, arial;
  font-size: 16px;
}

.search-button {
  height: 37px;
  width: 60px;
  margin-left: -1px;
  margin-right: 10px;
  border-color: rgb(218, 215, 215);
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
}

.search-icon {
  margin-top: 4px;
  height: 25px;
}

.search-voice-button {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(247, 241, 241);
  cursor: pointer;
}

.voice-icon {
  height: 25px;
  margin-top: 3px;
}


.right-section {


  display: flex;
  align-items: center;
  width: 200px;
  justify-content: space-between;
  margin-right: 22px;
  flex-shrink: 0;

}



.video-upload-icon {
  height: 25px;

}

.youtube-apps-icon {
  height: 25px;

}


.notifications-icon {
  height: 25px;


}


.current-user-picture {
  height: 32px;
  border-radius: 16px;
}