* {
  box-sizing: border-box;
}

p {
  font-family: roboto, arial;
  margin-top: 0px;
  margin-bottom: 0px;
}

body {
  margin: 0;
  padding-top: 70px;
  padding-left: 85px;
  padding-right: 13px;
  background-color: rgb(241, 239, 239);
  font-family: roboto, arial;
}