.thumbnail {
  width: 100%;

}

.video-thumbnail {
  margin-bottom: 10px;
  position: relative;

}

.video-time {
  position: absolute;
  background-color: black;
  color: white;
  right: 5px;
  bottom: 9px;
  padding: 2px;

}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 14px;
  column-gap: 15px;
}

@media (max-width :750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media(min-width:751px) and (max-width:999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(min-width : 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}



.video-info-grid {

  display: grid;
  grid-template-columns: 50px 1fr;

}

.video-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 12px;
}

.profile {
  width: 40px;
  border-radius: 50px;


}

.video-author,
.video-status {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-author {
  margin-bottom: 3px;
}