<style>
.subscribe-button{
  background-color:rgb(201, 0, 0);
  color: white;
  border:none ;
  border-radius: 3px;
  height: 36px;
  width: 100px;
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 7px;
  transition: opacity 0.15s;
  
}
.subscribe-button:hover {
  opacity: 0.8;

}
.subscribe-button:active{
  opacity: 0.5;
}
.join-botton{
  background-color: white;
  color:rgb(50, 143, 250);
  text-transform: uppercase;
  border-color:rgb(50, 143, 250);
  height: 36px;
  width: 60px;
  border-radius: 3px; 
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  margin-right: 7px;
  transition: background-color 0.15s,
  color 0.15s;
}
.join-botton:hover{

  background-color:rgb(50, 143, 250); 
  color: white;
 

}
.join-botton:active{
  opacity: 0.4;
}
.tweet-botton{
  background-color:  rgb(50, 143, 250);
  color: white;
  width: 74px;
  height: 36px;
  border: none;
  font-size: 15px;
  font-weight: bold;
  border-radius: 18px;
  cursor: pointer;
   transition: box-shadow 0.15s;
}
.tweet-botton:hover{
 box-shadow:5px 5px 10px rgba(0, 0, 0, 0.15);
 
}
</style>



<button class="subscribe-button">Subscribe</button>
<button class="join-botton">Join</button>
<button class="tweet-botton">Tweet</button>