<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>position-practice</title>
  <style>
    body {
      padding-top: 40px;
      padding-left: 80px;

    }

    .header {
      background-color: green;
      position: fixed;
      left: 0;
      right: 0;
      height: 40px;
      top: 0;


    }

    .sidebar {
      background-color: rgb(211, 211, 42);
      position: fixed;
      top: 40px;
      bottom: 0;
      left: 0;
    }
  </style>

</head>

<body>
  <div class="header">
    header
  </div>
  <div class="sidebar">
    sidebar
  </div>
  <div class=" div1" style="background-color: rgb(30, 101, 194);
  height: 140px;
  width: 300px;

  ">div1</div>
  <div class="div2" style="background-color: gray;
   height: 140px;
  width: 300px;
  margin-bottom: 10px;
  ">div2</div>
</body>

</html>